/* body {
    background-color: black;
    background-image: url(http://www.yamatolima.com/img/YamatoLogo3.png);
    background-size: cover;
} */

body .row {
    height: 100%;
}

ul {
    list-style-type: none;
}

/* ol li div {
    text-align: right;
} */
.navbar-brand img {
    float: right;
}

body .col-8 img {
    /* text-align: center; */
    margin: 10px;
    height:auto;
    width:auto;
    max-width:700px;
    max-height:500px;
}

.carousel-inner img {
    margin: 0px;
    height:auto;
    width:auto;
    /* min-width: 1200px; */
    max-width:1500px;
    max-height:525px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.topmargin {
    margin-top: 10px;
}

.leftmargin {
    margin-left: 10px;
}

p {
    margin: 0px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
}

.left {
    left: 0;
    margin-left: 20px;
}

.right {
    right: 0;
    margin-right: 20px;
}

/* .split .left {
   text-align: center;
} */

/* #nav-tabContent {
    background-color: aqua;
} */
