/* body {
    background-color: black;
    background-image: url(http://www.yamatolima.com/img/YamatoLogo3.png);
    background-size: cover;
} */

body .row {
    height: 100%;
}

ul {
    list-style-type: none;
}

/* ol li div {
    text-align: right;
} */

img {
    /* text-align: center; */
    margin: 10px;
    height:auto;
    width:auto;
    max-width:700px;
    max-height:500px;
}

.carousel-inner img {
    margin: 0px;
    height:auto;
    width:auto;
    /* min-width: 1200px; */
    max-width:1500px;
    max-height:525px;
}
/* #nav-tabContent {
    background-color: aqua;
} */
